<html>
<head>
    <title>Hello Wewish</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Bootstrap 101 Template</title>

    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="../../css/bootstrap-theme.min.css" rel="stylesheet">
    <script src="/js/jquery-2.1.4.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<#include "./admin/head.ftl">
<div class="container theme-showcase" role="main">
    <div class="page-header">
        <h1>
            Hello,
            <#if is_admin>Admin!</#if>
            <#if is_user>User!</#if>
        </h1>
    </div>
    <#if is_admin>
        <button type="button" class="btn btn-lg btn-link" onclick="location.assign('/admin/cmsusers')">查看所有cms用户</button>
    </#if>
    <#if is_user>
        <button type="button" class="btn btn-lg btn-link" onclick="location.assign('/orderlist')">查看待处理订单</button>
    </#if>
</div>
</body>
</html>
